.footer {
    display: flex;
    justify-content: space-around;
    background-color: #102230;
    color: #ffffff;
    padding: 4rem 8rem;
  }
  
  .footer-column {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-logo img {
    width: 50px;
    height: auto;
  }
  
  .footer-column h4 {
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  h4{
    font-family: 'Apex Mk2';
    color: #01EAF9;
  }